type asus_config, domain;
type asus_config_exec, exec_type, file_type;

init_daemon_domain(asus_config)

set_prop(asus_config, audio_prop)
set_prop(asus_config, config_prop)
set_prop(asus_config, radio_prop)

allow asus_config bluetooth_efs_file:file r_file_perms;
allow asus_config efs_file:dir r_dir_perms;
allow asus_config efs_file:file r_file_perms;
allow asus_config wifi_config_file:file rw_file_perms;

