#============= sensorhubd ==============
type sensorhubd, domain;
type sensorhubd_exec, exec_type, file_type;
init_daemon_domain(sensorhubd)

# Asus puts random files in /factory.  It's probably safer
# to just bite the bullet and let sensorhubd read all of them
# rather than run the risk of missing one of them or some
# random hardware configuration.
allow sensorhubd efs_file:file r_file_perms;

