#============= sensorhubd ==============
type sensorhubd, domain;
type sensorhubd_exec, exec_type, file_type;
init_daemon_domain(sensorhubd)

# Asus puts random files in /factory.  It's probably safer
# to just bite the bullet and let sensorhubd read all of them
# rather than run the risk of missing one of them or some
# random hardware configuration.
allow sensorhubd efs_file:file r_file_perms;

# Note: sensorhubd tries to exec a script to update the firmware, we
#    specifically do not allow that since we don't ship the script
#    anyway.
# Note: sensorhubd executes pidof sensorhubd | wc -w > /data/pids
#    (wtf??) and we also specifically let that be disallowed.
# You can ignore:
# allow sensorhubd shell_exec:file { read execute open execute_no_trans };
# allow sensorhubd system_data_file:dir { write add_name };
# allow sensorhubd system_data_file:file { write create open };
