on fs
    mkdir /local_cfg
    mkdir /local_cfg/platform
    mkdir /local_cfg/telephony_config
    mkdir /local_cfg/audiocomms_config
    start config_init

service config_init /system/bin/config_init.sh
    disabled
    oneshot
